In [1]:
import pandas as pd

In [2]:
data = {
    'apples' : [3, 4, 6, 7],
    'orange' : [4, 7, 8, 9]
}

In [4]:
purchase = pd.DataFrame(data)
purchase

   apples  orange
0       3       4
1       4       7
2       6       8
3       7       9

How did that work?

Each (key, value) item in data corresponds to a column in the resulting DataFrame.

The Index of this DataFrame was given to us on creation as the numbers 0-3, but we could also create our own when we initialize the DataFrame.

Let's have customer names as our index:

In [6]:
purchase = pd.DataFrame(data, index = ['june', 'July', 'August', 'May'])
purchase

        apples  orange
june         3       4
July         4       7
August       6       8
May          7       9

So now we could locate a customer's order by using their name:

In [7]:
purchase.loc['june']

apples    3
orange    4
Name: june, dtype: int64